/* filepath: /c:/Users/Ananta Anugrah/Desktop/aml sigma SECOND Reincarnation/parrot-aml/src/App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.reset-button {
  padding: 10px 20px;
  background-color: #f44336; /* Red background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px; /* Adds some space below the button */
  position: fixed;
  top: 20px; /* Adjust positioning to be outside the content */
  right: 20px; /* Positioned at the top-right corner */
  z-index: 999; /* Ensure it appears above other content */
}

.reset-button:hover {
  background-color: #d32f2f;
}

.main-parent {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left-bar {
  width: 250px;
  background-color: #2c3e50;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: relative;
}

.main-interface {
  flex: 1;
  background-color: #314a57;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}