.chatbot-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    padding: 20px;
    background-color: #ffffff00;
    width: 100%;
    height: 100%;
  }
  