/* ProfileSettings.css */
.ProfileSection {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #293742;
    border: 1px solid #3F4C56;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
    box-sizing: border-box;
  }
  
  .Profile {
    align-self: stretch;
    height: 177px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .EditProfileButton {
    align-self: stretch;
    padding-left: 44px;
    padding-right: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .EditButton {
    align-self: stretch;
    padding-left: 10px;
    padding-right: 10px;
    background: #22323E;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .EditPhotoProfile {
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .EditContaiiner {
    align-self: stretch;
    flex: 1 1 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  
  .EditNameDiv, .EditPasswordDiv {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .NameHeadline, .Password {
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .NameEditColumn, 
  .PasswordEditColumn, 
  .submit,
  .NameInput, 
  .PasswordInput {
    background-color: var(--secondary-color);
    height: 21px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: #22323E;
    width: 100%;
  }
  
  .ProfileImg {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Maintain square aspect ratio */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensures the image fully fills the space */
    display: block;
    margin: 0 auto;
  }
  
  
  .NameSubmitButton, .PasswordSubmitButton {
    align-self: stretch;
    height: 21px;
    padding: 4px 10px;
    background: rgba(34, 50, 62, 0);
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .Submit {
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .GoBackButton {
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    word-wrap: break-word;
    cursor: pointer;
  }
  