.UserDetailPanel {
    width: 100%;
    background: #293742;
    border: 1px solid #3F4C56;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
  }
  
  .BioSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Avatar img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }
  
  .NameTag {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
  
  .NameTag .UserName {
    color: white;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
  }
  
  .NameTag .UserRole {
    color: white;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
  }
  
  .ContactInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .InfoRow {
    display: flex;
    gap: 10px;
  }
  
  .InfoLabel {
    color: white;
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
  }
  
  .InfoValue {
    color: white;
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
  }
  
  .ChatHistorySection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .SectionHeader {
    color: white;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    text-align: center;
  }
  
  .SessionRow {
    width: 100%;
    padding: 10px;
    border: 1px solid #354451;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .SessionHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .SessionTitle {
    color: white;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
  }
  
  .SessionDate {
    color: #ccc;
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace;
  }
  
  .SessionReport {
    color: white;
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace;
  }
  
  .more-button {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
  }
  