/* src/App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.main-parent {
  display: flex;
  flex-direction: column; /* Allow vertical stacking */
  min-height: 100vh; /* Ensure it stretches to fit content */
  width: 100%;
}


