html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.main-parent {
  display: flex;
  flex-direction: column; /* Allow vertical stacking */
  min-height: 100vh; /* Ensure it stretches to fit content */
  width: 100%;
}

.left-bar {
  width: 250px; /* Adjust the width as needed */
  background-color: #2c3e50; /* Example background color */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-interface {
  flex: 1;
  background-color: #314a57;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Allow scrolling if content overflows */
}
